[submodule "vendor/brigand"]
	path = vendor/brigand
	url = https://github.com/edouarda/brigand
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/variant"]
	path = vendor/variant
	url = https://github.com/mpark/variant.git
[submodule "vendor/hana"]
	path = vendor/hana
	url = https://github.com/boostorg/hana.git
